<section id="comments" class="article-content">
    <b>评论区</b>
    <p>评论由 <a href="http://hatsu.cli.rs">Hatsu</a> 提供，可通过一个联邦宇宙帐号回复这个博文对应的帖子进行评论。</p>
    <p>你可以在 <a class="link" href="https://carlschwan.eu/2020/12/29/adding-comments-to-your-static-blog-with-mastodon/">此处</a> 以及 <a href="https://blog.southfox.me/2023/06/使用 Mastodon 作为博客的评论系统/">此处</a> 查看功能实现</p>
    <p id="mastodon-comments-list"><button id="load-comment" class="!rounded-md bg-primary-600 px-4 py-2 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700">展开评论区</button></p>
    <div id="comments-wrapper">
        <noscript><p>需要JavaScript才能加载和查看评论。尝试取消禁用JavaScript并重载，或者直接在Mastodon搜索框中输入本文章的链接。</p></noscript>
    </div>

    <script src="/js/purify.min.js"></script>
    <script src="/js/comments.js"></script>
</section>
