<section id="comments" class="container">
    <b>评论区</b>
    <br>
    <p>换域名了，Hatsu 还在联系迁移，于是建了个 Artalk 拿来用。欢迎评论！</p>
    <p><button id="load-comment" onclick="initArtalk()" class="!rounded-md bg-primary-600 px-4 py-2 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700">展开评论区</button></p>
    <div id="Artalk" class="py-2"></div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/artalk/2.9.0/Artalk.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/artalk/2.9.0/Artalk.js"></script>
    <script>
        function initArtalk() {
            Artalk.init({
                el: '#Artalk',
                pageKey: '{{ .Permalink }}',
                pageTitle: '{{ .Title }}',
                server: '{{ $.Site.Params.artalk.server }}',
                site: '{{ $.Site.Params.artalk.site }}',
                darkMode: 'auto'
            })
        }
    </script>
</section>