<!-- CSS -->
<link href="https://gb-comments.zeabur.app/dist/Artalk.css" rel="stylesheet" />

<!-- JS -->
<script src="https://gb-comments.zeabur.app/dist/Artalk.js"></script>

<!-- Artalk -->
<div id="Comments"></div>
<script>
  Artalk.init({
    el:        '#Comments',                // 绑定元素的 Selector
    pageKey:   '{{ .Page.RelPermalink | safeHTML }}\/index.html',                  // 固定链接
    server:    'https://gb-comments.zeabur.app',  // 后端地址
    site:      'Mare_Infinitus',             // 你的站点名
    darkMode: 'auto'
  })
</script>